.header {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $quaternary;
  background: linear-gradient(45deg, $quaternary, $quaternary-variant);
  a {
    position: absolute;
    width: 50px;
    margin-left: 25px;
    margin-top: 25px;
    left: 0;
    top: 0;
  }
}

.risk-factor-select {
  .risk-factor--list {
    margin-bottom: 0;
    li.button {
      font-size: 1.5rem;
      margin: 0 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      @media #{$medium-up} {
        width: 54px;
      }  
    }  
  }

  .risk-factor--levels {
    padding: 5px 0;
  }

  .risk-factor--button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.ideal-overview {
  margin: 10px 0;
  .ideal-overview--button {
    img {
      cursor: pointer;
      border: 3px solid $black;
      border-radius: 8px;
      width: 60px;
      height: 52px;
    }
  }
}

.ideal-portfolio-table{
  tr {
    &.active {
      background-color: $secondary;
    }
    th {
      text-align: center;
    }
    td {
      text-align: right;
    }
  }
}

.current-portfolio {
  
  .current-portfolio--header {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    h3 {
      margin: 0;
    }
  }
  
  .current-portfolio--table {

    input { 
      margin: 0;
    }
    td {
      padding: $padding-portfolio-table;
    }
    .small-col {
      width: 13%;
    }
    .mid-col {
      width: 18%;
    }
    .large-col {
      width: 33%;
    }

    .current-portfolio--row {
      padding: 5px 0;
       & > div {
        display: flex;
        align-items: center;
        padding: 0 3px;
       }
    }
  }

  .current-portfolio--recommended {
    position: relative;
    & > div {
      position: absolute;
      top: $padding-portfolio-table;
      bottom: $padding-portfolio-table;
      width: calc(100% - #{$padding-portfolio-table * 2});
      border: 1px solid black;
      border-radius: 5px;
      .current-portfolio--recommended-item {
        margin-top: 10px;
        margin-left: 5px;
        font-size: 0.9rem;
      }
    }
  }
}

