
$primary: #73d0ff;
$primary-variant: #98dbfd;
$secondary: #E6FF3F;
$tertiary: ghostwhite;
$white: #fff;
$black: #000;
$lightgray: #f3f3f3;
$quaternary: #0084bf;
$quaternary-variant: #0c8996;
$color-error: red;
$color-success: green;
$color-info: blue;

$padding-portfolio-table: 8px;